#navbar {
	margin: 0;
	padding: 0;
	height: 1em; }
#navbar li {
	list-style: none;
	display: inline; /* om gelijke tabs met width te bekomen */
	width: 24%;
  float: left; }
#navbar li a {
	display: block;
	padding: 3px 8px;
	border-right: 1px solid black;
	background-color: #5e8ce9;
	color: black;
	text-decoration: none; }
#navbar li ul {
	display: none; 
	width: 23%; /* Width to help Opera out */
	background-color: #69f;}
#navbar li:hover ul {
	display: block;
	position: absolute;
	margin: 0;
	padding: 0; }
#navbar li:hover li {
	float: none; }
#navbar li:hover li a {
	background-color: #69f;
	border-bottom: 1px dotted black;
	color: #000; }
#navbar li li a:hover {
	background-color: #8db3ff;
	color: yellow }
	
/* http://www.cssnewbie.com/easy-css-dropdown-menus/ */