/* om te vermijden dat main.css en stijlhtml5.css conflicteren is in de header van de webpaginas de link naar main.css laatst gezet. Omdat het stijlblad één geheel vormt en er ook talrijke regels voor responsive design is het niet raadzaam veelvuldige wijzigingen aan te brengen. Zaken die niet in main.css zijn geregeld kunnen we wel hieronder uitschrijven. */

aside {background-color:#90EE90;}
/* eigenschappen padding, margin en border zijn niet in te stellen, omdat in main.css deze waarden op nul zijn gezet. Dat is enkel te overschrijven door een bijkomende stijlregel in te voeren in het webdocument zelf */

footer.blockquote {font-style: italic; font-size: 90%;border-style: none;}

div.update, p.update, div.biblio
{color:green;
}
/* in de eerste versies van mijn website omsloot 'div' als containertag paragrafen in groene kleur; om historische redenen is de stijlregel enkel behouden bij de klassen update en biblio, omdat heel de opmaak in main.css is gebaseerd op div-elementen. */

div.box
{background-color:#ffc0cb;border-style:ridge solid;border-width:5px;border-color:fuchsia;margin:3em;padding:1em;font-size:100%;}

div.box h3
{color: fuchsia; font-size:110%;text-indent:3em;}

ul.biblio, li.biblio {font-style: italic;list-style:none;}

span 
{color: hsl(0, 100%, 40%);}

address, small
{font-size:80%;color:green;}

i:lang(la), cite:lang(la), dfn:lang(la)
{font-family:"Palatino Linotype", Palatino, serif;}

i:lang(grc), cite:lang(grc), dfn:lang(grc)
{font-family:"Palatino Linotype", Palatino, serif;}


